<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>adicionar produto</h1>
        <a href="/adicionar">Adicionar produto</a>


    </div>
    <div>
        {% for produto in produtos %}
        <p>------------------</p>
        <p>ID: {{produto.id}}</p>
        <p>Nome: {{produto.nome}}</p>
        <p>Preco: {{produto.preco}}</p>
        <p>Quantidade: {{produto.quantidade}}</p>
        <p>------------------</p>
        {%endfor%}
        
    </div>
    
</body>
</html>